Repository nikitamos/OAiP, pull requests merged in 2025-06, with the labels that each got.

#26 Build system changes
  .gitignore
  .vscode/settings.json
  semester-2/.latexmkrc
  semester-2/baap-sem2.tex
  semester-2/preamble.sty
  semester-2/preface.tex
Labels: enhancement, question

#39 Rewrite question 6-9, originally done by @eepyGato into a TeX document.
  semester-2/questions/1-9.tex
Labels: enhancement, question

#40 Update authors and a title page
  semester-2/baap-sem2.tex
  semester-2/preamble.sty
Labels: documentation

#35 Answers to question from 27 till 34
  .vscode/settings.json
  semester-2/questions/27-34.tex
  semester-2/resources/27-34/adjacency-list.png
  semester-2/resources/27-34/both-big-rotations.png
  semester-2/resources/27-34/sample-graph3.png
  semester-2/resources/27-34/shell-sort.png
  semester-2/resources/27-34/small-rotation.jpg
Labels: enhancement, question

#34 Base 10-18
  semester-2/questions/10-18.tex
Labels: enhancement, question

#41 Converted questions 1-5, minor fixes, typos and rearrangements.
  semester-2/questions/1-9.tex
Labels: enhancement

#38 Fixed build issues.
  semester-2/questions/35-42.tex
Labels: enhancement

#36 35-42 the raw version
  semester-2/questions/35-42.tex
  semester-2/resources/q35_BFS_representation.png.png
  semester-2/resources/q35_DFS_representation.png.png
  semester-2/resources/q35_Dinic_algorithm_representation.png
Labels: enhancement, question
